@font-face {
    font-family: 'Cutive';
    src: url('../../public/fonts/Cutive/Cutive-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cutive Mono';
    src: url('../../public/fonts/Cutive_Mono/CutiveMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Semi Bold';
    src: url('../../public/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../../public/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rosario';
    src: url('../../public/fonts/Rosario/Rosario-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rosario Semi Bold';
    src: url('../../public/fonts/Rosario/Rosario-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rosario Bold';
    src: url('../../public/fonts/Rosario/Rosario-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

:root {
    /* COLORS  */
    --color-text-light: #1d1d25;
    --color-text-dark: #fff;
    --color-bg-dark-1: #121212;

    --color-default-gray-1: #e4e8f1;
    --color-primary-1: #e4ff38;

    --mtw-blue-1: #161a33;
    --mtw-blue-2: #202954;
    --mtw-blue-3: #202e6b;
    --mtw-gray-1: #57586a;
    --mtw-gray-2: #e0e2f1;

    /* FONTS */
    --font-poppins: 'Poppins';
    --font-poppins-semi-bold: 'Poppins Semi Bold';
    --font-poppins-bold: 'Poppins Bold';

    --font-cutive: 'Cutive';
    --font-cutive-mono: 'Cutive Mono';

    --font-rosario-g: 'Rosario';
    --font-rosario-semi-bold: 'Rosario Semi Bold';
    --font-rosario-bold: 'Rosario Bold';

    /* GENERAL */
    background-color: var(--color-bg-dark-1);
    color: var(--color-text-dark);
    font-family: var(--font-poppins), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Poppins Semi Bold';
}
