@font-face {
    font-family: 'Cutive';
    src: url('../../public/fonts/Cutive/Cutive-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cutive Mono';
    src: url('../../public/fonts/Cutive_Mono/CutiveMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Semi Bold';
    src: url('../../public/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../../public/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rosario';
    src: url('../../public/fonts/Rosario/Rosario-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rosario Semi Bold';
    src: url('../../public/fonts/Rosario/Rosario-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rosario Bold';
    src: url('../../public/fonts/Rosario/Rosario-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

:root {
    /* COLORS  */
    --color-default-gray: #e4e8f1;
    --color-primary: #e4ff38;
    --color-compl: #5338ff;
    --color-analogous-1: #ffb738;
    --color-analogous-2: #81ff38;
    --color-split-compl-1: #b738ff;
    --color-split-compl-2: #3881ff;
    --color-triad-1: #ff38e4;
    --color-triad-2: #38e4ff;
    --color-tetrad-1: #ff5338;
    --color-tetrad-2: var(--color-triad-2);
    --color-tetrad-3: var(--color-compl);

    --mtw-blue-1: #161a33;
    --mtw-blue-2: #202954;
    --mtw-blue-3: #202e6b;
    --mtw-gray-1: #57586a;
    --mtw-gray-2: #e0e2f1;

    --color-text-light: #1d1d25;
    --color-text-dark: #fff;
    --color-bg-dark-1: #121212;
    /* --color-bg-dark-1: #0e1100; */
    /* --color-bg-dark-1: var(--mtw-blue-1); */
    --color-bg-light-1: #fff;

    --color-link: var(--color-split-compl-2);
    --color-link: var(--color-primary);
    --color-link: var(--color-triad-2);

    /* FONTS */
    --font-poppins: 'Poppins';
    --font-poppins-semi-bold: 'Poppins Semi Bold';
    --font-poppins-bold: 'Poppins Bold';

    --font-cutive: 'Cutive';
    --font-cutive-mono: 'Cutive Mono';

    --font-rosario-g: 'Rosario';
    --font-rosario-semi-bold: 'Rosario Semi Bold';
    --font-rosario-bold: 'Rosario Bold';

    /* GENERAL */
    --disabled-opacity: 0.65;

    --border-straight: 0.25rem;
    --border-rounded: 0.8rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-dark-1);
    color: var(--color-text-dark);
    font-family: var(--font-poppins), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Poppins Semi Bold';
}
